
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway';
        font-style: normal;
    }


    img{
        width: 100%;
    }

    html {
        height: 100%;
    }
    body {
        width: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: #f1eded;
    }
    header{
        width: 100%;
        background-color: white;
        height: 53px;
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .container-logo{
        padding: 12px;
        padding-left: 15px;
        font-size: 24px;
        font-weight: bolder;
        color: orangered;
    }

    .container-logo > i{
        padding-right: 15px;
    }

    .container-search{
        padding: 10px;
        /* background-color: red; */
        display: flex;
    }

    .container-search button{
        font-size: 30px;
        border: none;
        background-color: transparent;
        padding-left: 4px;
        justify-self: center;
        margin-left: 10px;
    }

    .container-search button:hover{
        color: orangered;
    }

    .container-search button:focus{
        color: orangered;
        border-radius: 30px;
        background-color: blue;
    }
    
    .search-input{
        border-radius: 10px;
        border: none;
        width: 0px;
        pointer-events: none;
        display: block;
        transition: 0.3s linear;
        color: white;
        padding-left: 20px;
        
    }
    
    .show-input-search{
        width: 300px;
        background-color: orangered;
        pointer-events:all;
        transition: 0.3s linear;
    }
    .container-search input::placeholder{
        color: white;
    }
    .container{
        width: 100%;
        margin: auto;
        padding: 20px;
        padding-bottom: 0px;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .sec1{
        position: relative;
        margin: 0 auto;
        padding: 0;
        position: relative;
        box-sizing: border-box;
    }

    .abas-flight-hotel-rental{
        width: 80%;
        background-color: rgb(255, 255, 255);
        align-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .abas-flight-hotel-rental nav{
        width: 100%;
        height: fit-content;
        position: relative;
        display: flex;

    }
    .abas-flight-hotel-rental nav button{
        width: 100%;
        flex-direction: row;
        border: none;
        padding: 10px;
        background-color: black;
        color: white;
    }

    .abas-flight-hotel-rental nav button i{
        padding: 15px;
        font-size: 14px;
    }

    .abas-flight-hotel-rental nav button{
        padding: 12px;
    }

    .abas-flight-hotel-rental nav button:hover{
        font-weight: bold;
    }
    .container-aba{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    #aba-flight > h2{
        padding: 15px;
        padding-top: 30px;
    }

    .container-textbox{
        padding: 0 15px;
        position: relative;
        display: flex;
        width: 100%;
        background-color: white;
        /* justify-content: space-between; */
        gap: 15px;
    }
    .container-textbox label{
        font-size: 14px;
    }
    .container-textbox div{
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 100%;
    }

    .container-textbox div input{
        padding: 10px;
        border-width: 0.1pc;        
    }
    #from{
        width: 100%;
    }
    .btn-search-and-find{
        margin: 15px 15px 30px 15px;
        padding: 10px;
        font-size: 16px;
        background-color: #909090;
        border: none;
        font-weight: bold;
        color: white;
    }

    .sec2{
        width: 1066px;
        /* width: 100%; */
        position: relative;
    }

    .container-trip-imagens{
        width: 100%;
        height:fit-content;
        display: flex;
        position: relative;
        gap: 15px;
    }

    .container-imagens-trip-large{
        width: 100%;
        position: relative;
        display: flex;
        background-color: rgb(177, 12, 149);
        overflow: hidden;
    }
    
    .container-4-imagens{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 15px;
        background-color: #fff;
        color: #444;
    }

    .container-imagens-small{
        position: relative;
        display: flex;
        background-color: rgb(177, 12, 149);
        text-align: center;
    }
    
    .legend-container{
        position: absolute;
        z-index: 999;
        color: rgb(250, 250, 250);
        font-weight: 500;
        padding: 0 5px;
        border-radius: 5px;
        /* background-color: red; */
        top: calc(100% - 30px);
        left: 10px;
     }

    .container-buy-tikets{
        width: 100%;
        display: flex;
        flex-flow: row;
        gap: 15px;
    }
    .Buy-tickets{
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 10px;
        background-color: white;
    }
    .Buy-tickets > img{
        height: 100%;
    }

    .sec3{
        width: 1066px;
        margin: auto;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    .sec3 > i, .sec3 > h2{
        padding: 0;
    }

    .Buy-tickets > i, .Buy-tickets > h2{
        padding: 5px 0px 0px 15px;
    }

    .Buy-tickets button{
        width: max-content;
        padding: 10px;
        margin: 0px 0px 20px 20px;
        background-color: inherit;
        border: none;
        font-size: 14px;
    }

    .Buy-tickets button:hover{
        background-color: orangered;
        color: white;
        font-weight: bold;
    }

    .Buy-tickets button:active{
        background-color: red;
    }
    .sec4{
        width: 1066px;
        position: relative;
    } 
    .container-email-subscribe{
        background-color: #5f5e5e;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .container-email-subscribe > h2,
    .container-email-subscribe > i,
    .container-email-subscribe form{
        padding-left: 15px;
    }
    
    .container-email-subscribe > h2{
        font-size: 30px;
        padding-top: 40px;
    }

    .container-email-subscribe > i{
        position: relative;
        padding-top: 20px;
    }
    .email-subscribe{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .email-subscribe label{
        padding-left: 0px;
        padding-top: 5px;
    }

    
    .email-subscribe input{
        margin: 5px 15px 0px 0px;
        padding: 10px;
    }

    .btn-subscribe{
        height: fit-content;
        width: fit-content;
        padding: 10px 15px 10px 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: orangered;
        color: white;
        border: none;
    }
    .means-contact{
        display: flex;
        flex-direction: column;
    }

    .sec4 > h2{
        margin-top: 40px;
        font-size: 24px;
    }

    .container > i{
        margin-top: 20px;
    }

    .means-contact{
        clear: both;
        margin-top: 20px;
        gap: 5px;
    }

    .form-send-menssage{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-send-menssage > input{
        padding: 20px;

    }

    .form-send-menssage > button{
        padding: 15px 30px 15px 30px;
        width: fit-content;
        background-color: black;
        font-weight: bold;
        font-size: 14px;
        color: white;
        border: none;
    }

    footer{
        width: 100%;
        position: relative;
        display: block;
        height: fit-content;
        /* background-color: green; */
        text-align: center;
        color: #5f5e5e;
    }

    footer > h2{
        font-size: 24px;
    }
    .icon-redes-sociais{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 24px;
    }
    footer > i{
        font-size: 14px;
        padding-bottom: 30px;
    }

    @media only screen and (max-width:1066px){
        .sec2, .sec3, .sec4 {
            width: 100%;
        }
    }

    @media only screen and (max-width:768px){
        .container-logo{margin-left: 15%;}
        .container-search{margin-right: 15%;}
    }
    
    @media only screen and (max-width:548px){
        .abas-flight-hotel-rental{
            position: relative;
            transform: none;
            top:0;
            left: 0;
            width: 100%;
        }

        .sec1 > img{
            display: none;
        }

        .container-trip-imagens{
            flex-direction: column;
        }

    }

    @media only screen and (max-width:450px){
        .container-4-imagens{
            flex-direction: column;
        }
        .container-4-imagens{
            grid-template-columns: auto;
        }

        .container-buy-tikets{
            flex-flow: column;
        }
    }
